.banner {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.heading-canon-h1 {
    color: #1B5A7D;
    line-height: 64px;
    max-width: 175px;
    font-size: 43px;
}

.shopButton {
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.viewButton {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

.buttons-banner {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.carousell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-slider {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
    padding: 0 5%;
}
.product-slider .product {
    border: 1px solid #A5A5A5;
    border-radius: 20px;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (10em <= width <= 576px) {
    .banner {
        height: 20rem;
    }
    .img-canon {
        max-width: 12rem;
    }
    .img-canon img {
        width: 100%;
    }
    .carousell {
        height: 100%;
    }
    .buttons-banner {
        flex-direction: column;
        width: 8rem;
    }
    .heading-canon-h1 {
        max-width: 100%;
    }

    /* Product SLider Component */
    .product-slider {
        margin: 2rem 0;
        gap: 8px;
    }
    .product-slider .product {
        width: 7rem;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        padding: 10px 12px;
    }
    .product-slider .product img {
        width: 4rem;
    }

}